##
##  ignore files using  git
##    for windows dotfiles
##

### dotfiles specific
# skip .config/.gitignore same this
.config/.gitignore

# tools
.MakeMKV/
.*/scoop/*

# ghq
*/.ghq/*


## ssh credentials
*/.ssh/*

### nodejs
*/.node/*
*/corepack/*
*/pnpm/*

### PowerShell
*/powershell/Modules/*

## history/info
*history
*hst
*info

# not include extension
extensions/*

### visualstudiocode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### Vagrant & VirtualBox
.vagrant.d/
.virtualbox/

