##
##  ignore files using  git
##    for windows dotfiles
##

### dotfiles specific
# skip .config/.gitignore same this
.config/.gitignore

###
# credentials
#
*/.ssh/*
*/.gnupg/*

# not include extension
extensions/*

###
#  tools utils settings
#
#

# unix shell
.*hist*
.*info


# gh (GitHub CLI)
*/gh/*
!*/gh/config.yml

# scoop
.*/scoop/*


###
#
# IDE settings
#


# eclipse
*/.eclipse/*


# Android Studio
*/.AndroidStudio/*

# visualstudiocode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

