##
##  ignore files using  git
##    for windows dotfiles
##

### dotfiles specific
#

###
#
# general settingds


# unix shell
.*hist*
.*info

# not include extension
/extensions/*

###
# credentials
#
*/.ssh/*
*/.gnupg/*
*cred*


###
#  tools utils settings
#



# scoop
.*/scoop/*


