## EditorConfig is awesome: https://EditorConfig.org
#
# @(#)  PoertSHell settings
#
# @version  1.0.0
# @date		2022-07-02
# @author	Furukawa, Atsushi <atsushifx@aglabo.com>
# @license  MIT
#
# @update	2022-07-22	add config for .git*
#
# @description
# user default editorconfig :
# symlink this to ~ : user root
#
#



# top-most EditorConfig file
# root = true

# Microsoft powershell
# shell script
[**.{ps1,psm1,psd1}]
tab_width = 4
indent_style = tab
indent_size = tab

