##
##  @(#) : git global untrack file settings
#
##
#
# @version  1.0.0
# @author   Furukawa, Atsushi <atsushifx@aglabo.com>
# @update   2022-03-05
# @license  MIT
#
# @dersc
# git ignore files about,
#   credential files
#   hist, info for dotfiles
#
#
#<<

## untrack
**/configstore/*


## bash
**/*completion.d/*

## extensions
# TabNine
**/TabNine/*

# Pulse
**/pulse/
