###
#
# @(#) : global git config for Windows
#
# @version 1.0.1
# @author  Furukawa, Atsushi <atsushifx@aglabo.com>
# @date    2023-01-11
# @license MIT
#
# @desc<<
#
# git global settings for Windows
# Windows/WSL common settings is git/config-common
#
#
# THIS CODE IS MADE AVAILABLE AS IS, WITHOUT WARRANTY OF ANY KIND.
# THE ENTIRE RISK OF THE USE OR THE RESULTS FROM THE USE OF THIS CODE REMAINS WITH THE USER.
#
#<<

##
## common settings
##
[include]
	path = ./git/config-common

##
## settings for Windows
##

[fetch]
	prune = true

[init]
	defaultBranch = master

[credential]
	helper = manager


[credential "helperselector"]
	selected = store

[ghq]
	root = c:/users/atsushifx/workspaces/gitworks
	root = c:/users/atsushifx/workspaces/education
	root = c:/users/atsushifx/workspaces/develop

[safe]
	directory = C:/Users/atsushifx/app/scoop/apps

[pull]
	rebase = false
