##
##  @(#) : git ignore settings for bash
#
# @version  1.0.0
# @author   Furukawa, Atsushi <atsushifx@aglabo.com>
# @update   2023-04-10
# @license  MIT
#
# @desc
# git ignore files for bash
#   credential files
#   hist, info for dotfiles
#
#
#<<

## bash_completion
!*/bash_comp;etion.d/*.sh

