##
##  ignore files using  git
##    for windows dotfiles
##

### dotfiles specific
#

###
# credentials
#

*/.ssh/*
*/.gnupg/*
*cred*

###
#  tools utils settings
#

# unix shell
.*hist*
.*info


### git / github tools

# git-secrets
.git-secrets/*

## gh (GitHub CLI)
# ignore hosts.yml
/gh/*
!/gh/config.yml

###
#
# IDE/Editor settings
#


## Android Studio
/.AndroidStudio/config/*
!/.AndroidStudio/config/options/
/.AndroidStudio/config/options/*
!.AndroidStudio/config/options/ide.general.xml
!.AndroidStudio/config/options/other.xml
!.AndroidStudio/config/options/project.default.xml
!.AndroidStudio/config/options/editor.xml
!.AndroidStudio/config/options/terminal.xml


## visual studio code
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

## eclipse
*/.eclipse/*

## maven
/.m2/*

# Java Applet
.applet*


# sonar
/.sonarlint/
