[color]
	ui = auto

[core]
	autocrlf = input

[user]
	name = Atsushi Furukawa
	email = atsushifx@aglabo.com

[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"

[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true

[push]
	default = current

[init]
	defaultBranch = main

[alias]
	co = checkout
	st = status

[credential]
	helper = manager-core

[credential "helperselector"]
	selected = manager-core
