[core]
	autocrlf = input
	attributesfile = C:\\Users\\atsushifx\\.config\\git\\attributes
#	editor = "wzeditor --wait "

[color]
	ui = true

[user]
	name = Furukawa, Atsushi
	email = 98551+atsushifx@users.noreply.github.com

[push]
	default = current

[diff]
    tool = WinMerge

[difftool "WinMerge"]
    path = C:/app/develop/scm/WinMerge/WinMergeU.exe
    cmd = WinMergeU.exe -f \"*.*\" -e -u -r \"$LOCAL\" \"$REMOTE\"

[merge]
    tool = WinMerge

[mergetool "WinMerge"]
    path = C:/app/develop/scm/WinMerge/WinMergeU.exe
    cmd = WinMergeU.exe\" -e -u \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

[alias]
    windiff = difftool -y -d -t WinMerge
    winmerge = mergetool -y -t WinMerge

[credential]
	helper = store

[credential "helperselector"]
	selected = store

[ghq]
	root = c:/Users/atsushifx/workspaces/gitworks
	root = c:/Users/atsushifx/workspaces/education
	root = c:/Users/atsushifx/workspaces/develop

[safe]
	directory = C:/Users/atsushifx/app/scoop/apps/scoop/current

[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
