init-author-email=atsushifx@gmail.com
init-author-name=Furukawa, Atsushi
init-license=MIT
init-module=C:\Users\atsushifx\.config\.npm-init.js
init-version=0.1.0
init.author.email=atsushifx@gmail.com
init.author.name=Furukawa, Atsushi
init.license=MIT
init.module=C:\Users\atsushifx\.config\.npm-init.js
init.version=0.1.0
store-dir=C:/Users/atsushifx/AppData/local/pnpm/store
cache-dir=C:/Users/atsushifx/AppData/local/pnpm/cache
# modules-dir=C:/Users/atsushifx/AppData/local/pnpm/node_modules

