;; user specigfic

;; package.json initialize
init-author-email=atsushifx@gmail.com
init-author-name=Furukawa, Atsushi
init-license=MIT
init-module=C:\Users\atsushifx\.config\.npm-init.js
init-version=0.1.0
init.author.email=atsushifx@gmail.com
init.author.name=Furukawa, Atsushi
init.license=MIT
init.module=C:\Users\atsushifx\.config\.npm-init.js
init.version=0.1.0


;; pnpm directory
store-dir=~/AppData/local/pnpm/store
cache-dir=~/AppData/local/pnpm/cache
